<span>Anzeige:</span>&nbsp;<%= select_tag :per_page, options_for_select([5,10,15,20,25,50], selected: sipgate_per_page), id: "sipgate_per_page" %>

<% pages = (1..sipgate_pages_count).to_a.uniq %>
<% if pages.size > 6 %>
  <%= sipgate_pager_link(1) %>
  <% if params[:page] && params[:page].to_i != 1 %>
    <% index = pages.index(params[:page].to_i) %>
    
    ...
    <% cur_pages = pages[index-1..(index+(index == 1 ? 2 : 1))] %>
    <% cur_pages.delete(1) %>
    <% cur_pages.delete(pages.last) %>
    <% cur_pages.each do |i| %>
      <%= sipgate_pager_link(i) %>
    <% end %>
  <% else %>
    <% pages[1..2].each do |i| %>
      <%= sipgate_pager_link(i) %>
    <% end %>    
  <% end %>  
  ...
  <%= sipgate_pager_link(pages.last) %>
<% else %>
  <% pages.each do |i| %>
    <%= sipgate_pager_link(i) %>
  <% end %>
<% end %>  

<script type="text/javascript">
  sipgate_data_url = "<%= sipgate_data_path %>"
  
  initSipgateTools = function(){
    $("#sipgate_per_page").change(function(){
      $.get(
        sipgate_data_url,
        {per_page: $(this).val() }
      )
    })
    
    $(".sipgate-page-nr").click(function(){
      $.get(
        sipgate_data_url,
        {page: $(this).data("sipgate-page-nr"), per_page: $("#sipgate_per_page").val() }
      )
    })
    
    
  }
  
  $(document).ready(function(){ initSipgateTools() })
  
  <% unless Rails.env.development? %>
    window.clearInterval(window.currentSipgateInterval);
    window.currentSipgateInterval = setInterval(function(){ $.get(sipgate_data_url) }, 60000);
  <% end %>
  
</script>