<% current_entries.each do |hist| %>
  <div id="call-<%= hist.id %>" class="call-history-dashboard-row <%= hist.direction.downcase %> <%= 'highlight' if params[:call_id].to_i == hist.id  %>">
    <div class="call-entry-field call-created-at call-data-no-wrap"><%= hist.id %>) <%= format_time hist.call_created_at %></div>
    <div class="call-entry-field call-contact">
      <% if hist.easy_contact.present? %>
        <%= link_to hist.easy_contact, easy_contact_path(hist.easy_contact) %><br>
      <% end %>
    </div>
    <div class="call-entry-field call-phone-nr"><%= easy_contact_call_link(hist.external_caller[:nr]) %></div>
    <div class="call-entry-field call-status"><%= image_tag("icon-#{hist.direction.downcase}.png", :plugin => 'easyredmine_sipgate_connector', width: 16, height: 16)  %> - <%= hist.status_label %></div>
    <div class="call-entry-field call-duration"><%= (hist.duration/60).to_s.rjust(2, '0') %>:<%= (hist.duration%60).to_s.rjust(2, '0') %></div>
  </div>  
<% end %>