<span>Anzeige:</span>&nbsp;<%= select_tag :per_page, options_for_select([5,10,15,20,25,50], selected: sipgate_per_page), id: "sipgate_per_page" %>

<% (1..sipgate_pages_count).to_a.uniq.each do |i| %>
  <% is_current = if params[:page].present?
    params[:page].to_i == i
  else
    i == 1
  end
   %>
  <span class="sipgate-page-nr <%= 'is_current' if is_current  %>" data-sipgate-page-nr="<%= i %>"><%= i %></span>
<% end %>

<script type="text/javascript">
  sipgate_data_url = "<%= sipgate_data_path %>"
  
  initSipgateTools = function(){
    $("#sipgate_per_page").change(function(){
      $.get(
        sipgate_data_url,
        {per_page: $(this).val() }
      )
    })
    
    $(".sipgate-page-nr").click(function(){
      $.get(
        sipgate_data_url,
        {page: $(this).data("sipgate-page-nr"), per_page: $("#sipgate_per_page").val() }
      )
    })
    
    
  }
  
  $(document).ready(function(){ initSipgateTools() })
  
  <% unless Rails.env.development? %>
  setInterval(function(){ $.get(sipgate_data_url) }, 30000);
  <% end %>
  
</script>