  <fieldset class="box tabular">
    <legend><%=l(:label_sipgate_status)%></legend>
    
    <% if @user.sipgate_active? %>
      <p>
        <%= l("rusip.labels.user_id_info", user_id: @user.sipgate_user_id) %><br>
        <!-- <%= l("rusip.labels.available_devices") %>:
        <br><br>
        <% @user.sipgate_devices.each do |did, dname| %>
          - <span><%= dname %> (<i><%= did %></i>)</span><br>
        <% end %> -->
      </p>
      <p><%= form.select :sipgate_default_device_id, @user.sipgate_devices.invert, { include_blank: true } %></p>
      <p><%= form.check_box :sipgate_delete_after_fetch %></p>
      <p><%= link_to l("rusip.buttons.reload_user_id"), sipgate_auth_path(from: request.url) %></p>
      <p><%= link_to l("rusip.buttons.unassigned_calls"), sipgate_unassigned_calls_path %></p>
    <% else %>
      <p><%= l("rusip.labels.no_user_id") %></p>
      <p><%= link_to l("rusip.buttons.get_user_id"), sipgate_auth_path(from: request.url) %></p>
    <% end %>
  </fieldset>
