<div style="padding: 5px">
  

<%= link_to t(:button_back), {:controller => 'my', :action => 'account'}, class: "icon icon-back button-positive" %>

<% if @show_private %>
  <%= link_to t("rusip.buttons.hide_private_calls"), {show_private: 0} %>
<% else %>
  <%= link_to t("rusip.buttons.show_private_calls"), {show_private: 1} %>
<% end %>

<%= form_for :call_list, url: {action: 'toggle_call_status', set_private: !@show_private} do |f| %>
  <table class="dataTable call-history-details">
    <thead>
      <tr>
        <th></th>
        <th><%= SipgateCallHistory.human_attribute_name(:external_caller) %></th>
        <th><%= SipgateCallHistory.human_attribute_name(:call_created_at) %></th>
        <th></th>
      </tr>
    </thead>
    <% [@calls].flatten.each do |hist| %>
  
      <tr id="call-<%= hist.id %>" class="<%= hist.direction.downcase %> <%= 'highlight' if params[:call_id].to_i == hist.id  %>">
        <td><%= f.check_box hist.id %></td>  
        <td>  
          <%= hist.external_caller[:nr] %><br>
        </td>
        <td><%= format_time hist.call_created_at %></td>
      </tr>  
    <% end %>
  </table>
  
  <% if @show_private %>
    <%= f.submit t("rusip.buttons.mark_as_public"), name: 'public' %>
  <% else %>
    <%= f.submit t("rusip.buttons.mark_as_private"), name: 'private' %>
  <% end %>
<% end %>




</div>